In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [3]:
r = requests.get(url)

In [5]:
soup = BeautifulSoup(r.text, 'html.parser')

In [7]:
# soup

In [12]:
name = soup.select('.card-title')[0].string
name

'いまにゅ'

In [27]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：22365'

In [39]:
n_subscribers = int(n_subscribers.split('：')[1])

In [40]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：3738'

In [41]:
n_reviews = int(n_reviews.split('：')[1])

In [42]:
results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
}

In [43]:
results

{'name': 'いまにゅ', 'n_subscribers': 22365, 'n_reviews': 3738}

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('asetts/data.csv')

In [46]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [47]:
df.tail()

         date  subscribers  reviews
751  2021/2/5        10753     1820
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831

In [48]:
import datetime

In [51]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2024/7/27'

In [52]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [53]:
subscribers

22365

In [54]:
reviews

3738

In [56]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

        date  subscribers  reviews
0  2024/7/27        22365     3738

In [60]:
df = pd.concat([df, results])
df.tail()

          date  subscribers  reviews
754   2021/2/8        10776     1826
755   2021/2/9        10796     1831
0    2024/7/27        22365     3738
0    2024/7/27        22365     3738
0    2024/7/27        22365     3738

In [61]:
df.to_csv('asetts/data.csv', index=False)

In [71]:
# -udemyから情報を取ってくる関数（'get_udemy_info'）
# -CSVに書き込む関数（'write_data'）

In [70]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'
    
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    
    name = soup.select('.card-title')[0].string
    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])
    
    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])
    
    results = {
        'name': name,
        'n_subscribers': n_subscribers,
        'n_reviews': n_reviews
    }
    
    return results

In [2]:
def write_data():
    df = pd.read_csv('asetts/data.csv')
    
    # 新規のデータ
    _results = get_udemy_info()
    
    # 書き込むデータ
    date = datetime.datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']
    results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
    
    df = pd.concat([df, results])
    df.to_csv('asetts/data.csv', index=False)